Django==5.2.5
django-cors-headers==4.7.0
django-ninja==1.4.3
djangorestframework==3.16.1
gunicorn==21.2.0
psycopg2-binary==2.9.7
dj-database-url==2.1.0
tensorflow==2.20.0
keras==3.11.2
scikit-learn==1.4.2
numpy>=1.23.5,<2.0
boto3==1.35.36
botocore==1.35.36
django-storages==1.14.2
cryptography==45.0.6
pycryptodome==3.23.0
requests==2.32.5
urllib3==2.5.0
certifi==2025.8.3
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2
opencv-python-headless==4.8.1.78
python-dotenv==1.1.1